In [164]:
from tvDatafeed import TvDatafeed,Interval
import mplfinance as mpf
import pandas as pd
import cufflinks as cf
import numpy as np
import chart_studio.plotly as py
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
%matplotlib inline

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
cf.go_offline()

In [15]:
# initialize tradingview

tv = TvDatafeed()

you are using nologin method, data you access may be limited

FX

In [16]:
#USDSEK
pd_usd_sek=tv.get_hist('USDSEK','OANDA',interval=Interval.in_daily,n_bars=100)
USDSEK_Mean = pd_usd_sek["close"].mean()

#EURSEK
pd_eur_usd=tv.get_hist('EURUSD','OANDA',interval=Interval.in_daily,n_bars=100)
EURUSD_Mean = pd_eur_usd["close"].mean()

print(EURUSD_Mean)
print(USDSEK_Mean)

1.1006936000000003
9.511383749999997

VALOUR

In [17]:
#VALOUR BTC ZERO SEK
pd_BTC_ZERO_SEK=tv.get_hist('BTC.ZERO.SEK','NGM',interval=Interval.in_daily,n_bars=100)
pd_BTC_ZERO_SEK["averageprice"] = (pd_BTC_ZERO_SEK["high"] + pd_BTC_ZERO_SEK["open"] + pd_BTC_ZERO_SEK["close"] + pd_BTC_ZERO_SEK["low"]) /4
pd_BTC_ZERO_SEK["turnover"] = (pd_BTC_ZERO_SEK["averageprice"] * pd_BTC_ZERO_SEK["volume"])/USDSEK_Mean
pd_BTC_ZERO_SEK["turnover"].astype(int)

datetime
2022-01-03 09:00:00     657458
2022-01-04 09:00:00     476700
2022-01-05 09:00:00     182143
2022-01-07 09:00:00    2064699
2022-01-10 09:00:00    2043255
                        ...
2022-05-19 09:00:00     919057
2022-05-20 09:00:00     324186
2022-05-23 09:00:00     280402
2022-05-24 09:00:00     176308
2022-05-25 09:00:00      38425
Name: turnover, Length: 100, dtype: int64

In [18]:
#VALOUR ETH ZERO SEK
pd_ETH_ZERO_SEK=tv.get_hist('ETH.ZERO.SEK','NGM',interval=Interval.in_daily,n_bars=100)
pd_ETH_ZERO_SEK["averageprice"] = (pd_ETH_ZERO_SEK["high"] + pd_ETH_ZERO_SEK["open"] + pd_ETH_ZERO_SEK["close"] + pd_ETH_ZERO_SEK["low"]) /4
pd_ETH_ZERO_SEK["turnover"] = (pd_ETH_ZERO_SEK["averageprice"] * pd_ETH_ZERO_SEK["volume"])/USDSEK_Mean
pd_ETH_ZERO_SEK["turnover"].astype(int)

datetime
2022-01-03 09:00:00     729818
2022-01-04 09:00:00     501733
2022-01-05 09:00:00     232906
2022-01-07 09:00:00    2837478
2022-01-10 09:00:00    1955173
                        ...
2022-05-19 09:00:00     824212
2022-05-20 09:00:00     490043
2022-05-23 09:00:00     143883
2022-05-24 09:00:00     199281
2022-05-25 09:00:00     141263
Name: turnover, Length: 100, dtype: int64

In [19]:
#VALOUR CARDANO SEK
pd_VALOUR_CARDANO_SEK=tv.get_hist('VALOUR.CARDANO.SEK','NGM',interval=Interval.in_daily,n_bars=100)
pd_VALOUR_CARDANO_SEK["averageprice"] = (pd_VALOUR_CARDANO_SEK["high"] + pd_VALOUR_CARDANO_SEK["open"] + pd_VALOUR_CARDANO_SEK["close"] + pd_VALOUR_CARDANO_SEK["low"]) /4
pd_VALOUR_CARDANO_SEK["turnover"] = (pd_VALOUR_CARDANO_SEK["averageprice"] * pd_VALOUR_CARDANO_SEK["volume"])/USDSEK_Mean
pd_VALOUR_CARDANO_SEK["turnover"].astype(int)

datetime
2022-01-03 09:00:00     935554
2022-01-04 09:00:00     456989
2022-01-05 09:00:00     235409
2022-01-07 09:00:00    1638813
2022-01-10 09:00:00    1847268
                        ...
2022-05-19 09:00:00     205785
2022-05-20 09:00:00     308941
2022-05-23 09:00:00     222603
2022-05-24 09:00:00     208342
2022-05-25 09:00:00      23751
Name: turnover, Length: 100, dtype: int64

In [20]:
#VALOUR SOLANA SEK
pd_VALOUR_SOLANA_SEK=tv.get_hist('VALOUR.SOLANA.SEK','NGM',interval=Interval.in_daily,n_bars=100)
pd_VALOUR_SOLANA_SEK["averageprice"] = (pd_VALOUR_SOLANA_SEK["high"] + pd_VALOUR_SOLANA_SEK["open"] + pd_VALOUR_SOLANA_SEK["close"] + pd_VALOUR_SOLANA_SEK["low"]) /4
pd_VALOUR_SOLANA_SEK["turnover"] = (pd_VALOUR_SOLANA_SEK["averageprice"] * pd_VALOUR_SOLANA_SEK["volume"])/USDSEK_Mean
pd_VALOUR_SOLANA_SEK["turnover"].astype(int)

datetime
2022-01-03 09:00:00    1678253
2022-01-04 09:00:00     857116
2022-01-05 09:00:00     379339
2022-01-07 09:00:00    3707216
2022-01-10 09:00:00    2242496
                        ...
2022-05-19 09:00:00     417947
2022-05-20 09:00:00     452287
2022-05-23 09:00:00     425596
2022-05-24 09:00:00     344159
2022-05-25 09:00:00      86072
Name: turnover, Length: 100, dtype: int64

In [21]:
#VALOUR POLKADOT SEK
pd_VALOUR_POLKADOT_SEK=tv.get_hist('VALOUR.POLKADOT.SEK','NGM',interval=Interval.in_daily,n_bars=100)
pd_VALOUR_POLKADOT_SEK["averageprice"] = (pd_VALOUR_POLKADOT_SEK["high"] + pd_VALOUR_POLKADOT_SEK["open"] + pd_VALOUR_POLKADOT_SEK["close"] + pd_VALOUR_POLKADOT_SEK["low"]) /4
pd_VALOUR_POLKADOT_SEK["turnover"] = (pd_VALOUR_POLKADOT_SEK["averageprice"] * pd_VALOUR_POLKADOT_SEK["volume"])/USDSEK_Mean
pd_VALOUR_POLKADOT_SEK["turnover"].astype(int)

datetime
2022-01-03 09:00:00    1439226
2022-01-04 09:00:00     656394
2022-01-05 09:00:00     156703
2022-01-07 09:00:00    1242483
2022-01-10 09:00:00    1095865
                        ...
2022-05-19 09:00:00     164447
2022-05-20 09:00:00      92588
2022-05-23 09:00:00     129118
2022-05-24 09:00:00      66115
2022-05-25 09:00:00       4571
Name: turnover, Length: 100, dtype: int64

In [128]:
#VALOUR UNISWAP SEK
pd_VALOUR_UNISWAP_SEK=tv.get_hist('VALOUR.UNISWAP.SEK','NGM',interval=Interval.in_daily,n_bars=100)
pd_VALOUR_UNISWAP_SEK["averageprice"] = (pd_VALOUR_UNISWAP_SEK["high"] + pd_VALOUR_UNISWAP_SEK["open"] + pd_VALOUR_UNISWAP_SEK["close"] + pd_VALOUR_UNISWAP_SEK["low"]) /4
pd_VALOUR_UNISWAP_SEK["turnover"] = (pd_VALOUR_UNISWAP_SEK["averageprice"] * pd_VALOUR_UNISWAP_SEK["volume"])/USDSEK_Mean
pd_VALOUR_UNISWAP_SEK["turnover"].astype(int)

datetime
2022-01-03 09:00:00    176660
2022-01-04 09:00:00     71506
2022-01-05 09:00:00    244018
2022-01-07 09:00:00    282228
2022-01-10 09:00:00    319377
                        ...
2022-05-19 09:00:00      7144
2022-05-20 09:00:00     20687
2022-05-23 09:00:00      5874
2022-05-24 09:00:00     17066
2022-05-25 09:00:00      6551
Name: turnover, Length: 100, dtype: int64

In [ ]:
#VALOUR AVALANCHE SEK
pd_VALOUR_AVLANCHE_SEK=tv.get_hist('VALOUR.AVALANCHE.SEK','NGM',interval=Interval.in_daily,n_bars=100)
pd_VALOUR_AVLANCHE_SEK["averageprice"] = (pd_VALOUR_AVLANCHE_SEK["high"] + pd_VALOUR_AVLANCHE_SEK["open"] + pd_VALOUR_AVLANCHE_SEK["close"] + pd_VALOUR_AVLANCHE_SEK["low"]) /4
pd_VALOUR_AVLANCHE_SEK["turnover"] = (pd_VALOUR_AVLANCHE_SEK["averageprice"] * pd_VALOUR_AVLANCHE_SEK["volume"])/USDSEK_Mean
pd_VALOUR_AVLANCHE_SEK["turnover"].astype(int)

XBT

In [132]:
#XBT BTC Tracker One
pd_BTC_XBT=tv.get_hist('BITCOIN_XBT','OMXSTO',interval=Interval.in_daily,n_bars=100)
pd_BTC_XBT["averageprice"] = (pd_BTC_XBT["high"] + pd_BTC_XBT["open"] + pd_BTC_XBT["close"] + pd_BTC_XBT["low"]) /4
pd_BTC_XBT["turnover"] = (pd_BTC_XBT["averageprice"] * pd_BTC_XBT["volume"])/USDSEK_Mean
pd_BTC_XBT["turnover"].astype(int)

datetime
2022-01-03 09:00:00     4485217
2022-01-04 09:00:00     4410782
2022-01-05 09:00:00     2257280
2022-01-07 09:00:00    16171957
2022-01-10 09:00:00    12612199
                         ...
2022-05-19 09:00:00     2161126
2022-05-20 09:00:00     1931375
2022-05-23 09:00:00     1932457
2022-05-24 09:00:00     1721087
2022-05-25 09:00:00     1482454
Name: turnover, Length: 100, dtype: int64

In [133]:
#XBT BTC Euro Tracker One
pd_BTCE_XBT=tv.get_hist('BITCOIN_XBTE','OMXSTO',interval=Interval.in_daily,n_bars=100)
pd_BTCE_XBT["averageprice"] = (pd_BTCE_XBT["high"] + pd_BTCE_XBT["open"] + pd_BTCE_XBT["close"] + pd_BTCE_XBT["low"]) /4
pd_BTCE_XBT["turnover"] = (pd_BTCE_XBT["averageprice"] * pd_BTCE_XBT["volume"])*EURUSD_Mean
pd_BTCE_XBT["turnover"].astype(int)

datetime
2022-01-03 09:00:00     2296853
2022-01-04 09:00:00     2781277
2022-01-05 09:00:00     1261633
2022-01-07 09:00:00    10589672
2022-01-10 09:00:00     7876465
                         ...
2022-05-19 09:00:00      823723
2022-05-20 09:00:00      796966
2022-05-23 09:00:00     3041820
2022-05-24 09:00:00     2975911
2022-05-25 09:00:00     3210380
Name: turnover, Length: 100, dtype: int64

In [134]:
#XBT ETH Tracker One
pd_ETH_XBT=tv.get_hist('ETHEREUM_XBT','OMXSTO',interval=Interval.in_daily,n_bars=100)
pd_ETH_XBT["averageprice"] = (pd_ETH_XBT["high"] + pd_ETH_XBT["open"] + pd_ETH_XBT["close"] + pd_ETH_XBT["low"]) /4
pd_ETH_XBT["turnover"] = (pd_ETH_XBT["averageprice"] * pd_ETH_XBT["volume"])/USDSEK_Mean
pd_ETH_XBT["turnover"].astype(int)

datetime
2022-01-03 09:00:00     4781762
2022-01-04 09:00:00     5693187
2022-01-05 09:00:00     1949806
2022-01-07 09:00:00    27694554
2022-01-10 09:00:00    15446003
                         ...
2022-05-19 09:00:00     4627692
2022-05-20 09:00:00     2438139
2022-05-23 09:00:00     2278691
2022-05-24 09:00:00     2538315
2022-05-25 09:00:00     1351680
Name: turnover, Length: 100, dtype: int64

In [135]:
#XBT ETH Euro Tracker One
pd_ETHE_XBT=tv.get_hist('ETHEREUM_XBTE','OMXSTO',interval=Interval.in_daily,n_bars=100)
pd_ETHE_XBT["averageprice"] = (pd_ETHE_XBT["high"] + pd_ETHE_XBT["open"] + pd_ETHE_XBT["close"] + pd_ETHE_XBT["low"]) /4
pd_ETHE_XBT["turnover"] = (pd_ETHE_XBT["averageprice"] * pd_ETHE_XBT["volume"])*EURUSD_Mean
pd_ETHE_XBT["turnover"].astype(int)

datetime
2022-01-03 09:00:00     4757084
2022-01-04 09:00:00     3769430
2022-01-05 09:00:00     1656606
2022-01-07 09:00:00    23131773
2022-01-10 09:00:00    11955975
                         ...
2022-05-19 09:00:00     3060315
2022-05-20 09:00:00     2404666
2022-05-23 09:00:00     4733029
2022-05-24 09:00:00     4257946
2022-05-25 09:00:00     1427259
Name: turnover, Length: 100, dtype: int64

21SHARES XETRA

In [136]:
#21SHARES XETRA BITCOIN
pd_21SHARES_XETRA_BTC=tv.get_hist('2BTC','XETR',interval=Interval.in_daily,n_bars=100)
pd_21SHARES_XETRA_BTC["averageprice"] = (pd_21SHARES_XETRA_BTC["high"] + pd_21SHARES_XETRA_BTC["open"] + pd_21SHARES_XETRA_BTC["close"] + pd_21SHARES_XETRA_BTC["low"]) /4
pd_21SHARES_XETRA_BTC["turnover"] = (pd_21SHARES_XETRA_BTC["averageprice"] * pd_21SHARES_XETRA_BTC["volume"])*EURUSD_Mean
pd_21SHARES_XETRA_BTC["turnover"].astype(int)

datetime
2022-01-04 09:00:00    1752231
2022-01-05 09:00:00    2746311
2022-01-06 09:00:00    3261937
2022-01-07 09:00:00    3501447
2022-01-10 09:00:00    3618329
                        ...
2022-05-19 09:00:00    2000247
2022-05-20 09:00:00     799328
2022-05-23 09:00:00    2536517
2022-05-24 09:00:00    1095878
2022-05-25 09:00:00      94135
Name: turnover, Length: 100, dtype: int64

In [137]:
#21SHARES XETRA ETHEREUM
pd_21SHARES_XETRA_ETH=tv.get_hist('ETHA','XETR',interval=Interval.in_daily,n_bars=100)
pd_21SHARES_XETRA_ETH["averageprice"] = (pd_21SHARES_XETRA_ETH["high"] + pd_21SHARES_XETRA_ETH["open"] + pd_21SHARES_XETRA_ETH["close"] + pd_21SHARES_XETRA_ETH["low"]) /4
pd_21SHARES_XETRA_ETH["turnover"] = (pd_21SHARES_XETRA_ETH["averageprice"] * pd_21SHARES_XETRA_ETH["volume"])*EURUSD_Mean
pd_21SHARES_XETRA_ETH["turnover"].astype(int)

datetime
2022-01-04 09:00:00    1149350
2022-01-05 09:00:00     787706
2022-01-06 09:00:00    6338487
2022-01-07 09:00:00    6395215
2022-01-10 09:00:00    5290815
                        ...
2022-05-19 09:00:00     691410
2022-05-20 09:00:00    1100659
2022-05-23 09:00:00    2160473
2022-05-24 09:00:00    1379021
2022-05-25 09:00:00      58478
Name: turnover, Length: 100, dtype: int64

In [138]:
#21SHARES XETRA CARDANO
pd_21SHARES_XETRA_ADA=tv.get_hist('ADAA','XETR',interval=Interval.in_daily,n_bars=100)
pd_21SHARES_XETRA_ADA["averageprice"] = (pd_21SHARES_XETRA_ADA["high"] + pd_21SHARES_XETRA_ADA["open"] + pd_21SHARES_XETRA_ADA["close"] + pd_21SHARES_XETRA_ADA["low"]) /4
pd_21SHARES_XETRA_ADA["turnover"] = (pd_21SHARES_XETRA_ADA["averageprice"] * pd_21SHARES_XETRA_ADA["volume"])*EURUSD_Mean
pd_21SHARES_XETRA_ADA["turnover"].astype(int)

datetime
2022-01-04 09:00:00    233782
2022-01-05 09:00:00     98680
2022-01-06 09:00:00    245319
2022-01-07 09:00:00    125197
2022-01-10 09:00:00    221884
                        ...
2022-05-19 09:00:00    157315
2022-05-20 09:00:00     41421
2022-05-23 09:00:00     49629
2022-05-24 09:00:00     78799
2022-05-25 09:00:00     46914
Name: turnover, Length: 100, dtype: int64

In [139]:
#21SHARES XETRA SOLANA
pd_21SHARES_XETRA_SOL=tv.get_hist('ASOL','XETR',interval=Interval.in_daily,n_bars=100)
pd_21SHARES_XETRA_SOL["averageprice"] = (pd_21SHARES_XETRA_SOL["high"] + pd_21SHARES_XETRA_SOL["open"] + pd_21SHARES_XETRA_SOL["close"] + pd_21SHARES_XETRA_SOL["low"]) /4
pd_21SHARES_XETRA_SOL["turnover"] = (pd_21SHARES_XETRA_SOL["averageprice"] * pd_21SHARES_XETRA_SOL["volume"])*EURUSD_Mean
pd_21SHARES_XETRA_SOL["turnover"].astype(int)

datetime
2022-01-04 09:00:00     95930
2022-01-05 09:00:00    402915
2022-01-06 09:00:00    662196
2022-01-07 09:00:00    619006
2022-01-10 09:00:00    351532
                        ...
2022-05-19 09:00:00    253050
2022-05-20 09:00:00    110431
2022-05-23 09:00:00    333385
2022-05-24 09:00:00    159605
2022-05-25 09:00:00      6464
Name: turnover, Length: 100, dtype: int64

In [140]:
#21SHARES XETRA POLKADOT
pd_21SHARES_XETRA_DOT=tv.get_hist('ADOT','XETR',interval=Interval.in_daily,n_bars=100)
pd_21SHARES_XETRA_DOT["averageprice"] = (pd_21SHARES_XETRA_DOT["high"] + pd_21SHARES_XETRA_DOT["open"] + pd_21SHARES_XETRA_DOT["close"] + pd_21SHARES_XETRA_DOT["low"]) /4
pd_21SHARES_XETRA_DOT["turnover"] = (pd_21SHARES_XETRA_DOT["averageprice"] * pd_21SHARES_XETRA_DOT["volume"])*EURUSD_Mean
pd_21SHARES_XETRA_DOT["turnover"].astype(int)

datetime
2022-01-04 09:00:00    316040
2022-01-05 09:00:00    375863
2022-01-06 09:00:00    260797
2022-01-07 09:00:00    148777
2022-01-10 09:00:00    207871
                        ...
2022-05-19 09:00:00      8869
2022-05-20 09:00:00     78681
2022-05-23 09:00:00     13546
2022-05-24 09:00:00     40453
2022-05-25 09:00:00      1649
Name: turnover, Length: 100, dtype: int64

21SHARES SIX

In [141]:
#21SHARES SIX BITCOIN
pd_21SHARES_SIX_BTC=tv.get_hist('ABTC.USD','SIX',interval=Interval.in_daily,n_bars=100)
pd_21SHARES_SIX_BTC["averageprice"] = (pd_21SHARES_SIX_BTC["high"] + pd_21SHARES_SIX_BTC["open"] + pd_21SHARES_SIX_BTC["close"] + pd_21SHARES_SIX_BTC["low"]) /4
pd_21SHARES_SIX_BTC["turnover"] = (pd_21SHARES_SIX_BTC["averageprice"] * pd_21SHARES_SIX_BTC["volume"])
pd_21SHARES_SIX_BTC["turnover"].astype(int)

datetime
2022-01-04 09:00:00     405289
2022-01-05 09:00:00    2543253
2022-01-06 09:00:00    3316931
2022-01-07 09:00:00    3598701
2022-01-10 09:00:00    1530410
                        ...
2022-05-19 09:00:00    3057071
2022-05-20 09:00:00     677795
2022-05-23 09:00:00     437731
2022-05-24 09:00:00     220531
2022-05-25 09:00:00      56226
Name: turnover, Length: 100, dtype: int64

In [142]:
#21SHARES SIX ETHEREUM
pd_21SHARES_SIX_ETH=tv.get_hist('AETH.USD','SIX',interval=Interval.in_daily,n_bars=100)
pd_21SHARES_SIX_ETH["averageprice"] = (pd_21SHARES_SIX_ETH["high"] + pd_21SHARES_SIX_ETH["open"] + pd_21SHARES_SIX_ETH["close"] + pd_21SHARES_SIX_ETH["low"]) /4
pd_21SHARES_SIX_ETH["turnover"] = (pd_21SHARES_SIX_ETH["averageprice"] * pd_21SHARES_SIX_ETH["volume"])
pd_21SHARES_SIX_ETH["turnover"].astype(int)

datetime
2022-01-04 09:00:00     1714389
2022-01-05 09:00:00      489459
2022-01-06 09:00:00    14860217
2022-01-07 09:00:00     8057740
2022-01-10 09:00:00     6385955
                         ...
2022-05-19 09:00:00      628250
2022-05-20 09:00:00      742276
2022-05-23 09:00:00     1688180
2022-05-24 09:00:00      871473
2022-05-25 09:00:00      216259
Name: turnover, Length: 100, dtype: int64

In [143]:
#21SHARES SIX SOLANA
pd_21SHARES_SIX_SOL=tv.get_hist('ASOL.USD','SIX',interval=Interval.in_daily,n_bars=100)
pd_21SHARES_SIX_SOL["averageprice"] = (pd_21SHARES_SIX_SOL["high"] + pd_21SHARES_SIX_SOL["open"] + pd_21SHARES_SIX_SOL["close"] + pd_21SHARES_SIX_SOL["low"]) /4
pd_21SHARES_SIX_SOL["turnover"] = (pd_21SHARES_SIX_SOL["averageprice"] * pd_21SHARES_SIX_SOL["volume"])
pd_21SHARES_SIX_SOL["turnover"].astype(int)

datetime
2022-01-04 09:00:00    1688297
2022-01-05 09:00:00    1188581
2022-01-06 09:00:00    2375088
2022-01-07 09:00:00    1692069
2022-01-10 09:00:00    1621253
                        ...
2022-05-19 09:00:00    3228489
2022-05-20 09:00:00     205460
2022-05-23 09:00:00     101976
2022-05-24 09:00:00      64077
2022-05-25 09:00:00      21040
Name: turnover, Length: 100, dtype: int64

In [144]:
#21SHARES SIX CARDANO
pd_21SHARES_SIX_ADA=tv.get_hist('AADA.USD','SIX',interval=Interval.in_daily,n_bars=100)
pd_21SHARES_SIX_ADA["averageprice"] = (pd_21SHARES_SIX_ADA["high"] + pd_21SHARES_SIX_ADA["open"] + pd_21SHARES_SIX_ADA["close"] + pd_21SHARES_SIX_ADA["low"]) /4
pd_21SHARES_SIX_ADA["turnover"] = (pd_21SHARES_SIX_ADA["averageprice"] * pd_21SHARES_SIX_ADA["volume"])
pd_21SHARES_SIX_ADA["turnover"].astype(int)

datetime
2022-01-04 09:00:00    137286
2022-01-05 09:00:00    278016
2022-01-06 09:00:00    444536
2022-01-07 09:00:00    452353
2022-01-10 09:00:00    646905
                        ...
2022-05-19 09:00:00     50530
2022-05-20 09:00:00     10937
2022-05-23 09:00:00     49410
2022-05-24 09:00:00     70425
2022-05-25 09:00:00     13567
Name: turnover, Length: 100, dtype: int64

In [145]:
#21SHARES SIX POLKADOT
pd_21SHARES_SIX_DOT=tv.get_hist('ADOT.USD','SIX',interval=Interval.in_daily,n_bars=100)
pd_21SHARES_SIX_DOT["averageprice"] = (pd_21SHARES_SIX_DOT["high"] + pd_21SHARES_SIX_DOT["open"] + pd_21SHARES_SIX_DOT["close"] + pd_21SHARES_SIX_DOT["low"]) /4
pd_21SHARES_SIX_DOT["turnover"] = (pd_21SHARES_SIX_DOT["averageprice"] * pd_21SHARES_SIX_DOT["volume"])
pd_21SHARES_SIX_DOT["turnover"].astype(int)

datetime
2022-01-04 09:00:00     797145
2022-01-05 09:00:00     565921
2022-01-06 09:00:00    1850738
2022-01-07 09:00:00     524720
2022-01-10 09:00:00     730438
                        ...
2022-05-19 09:00:00      90559
2022-05-20 09:00:00     107083
2022-05-23 09:00:00      19891
2022-05-24 09:00:00      25176
2022-05-25 09:00:00       4369
Name: turnover, Length: 100, dtype: int64

ETC GROUP XETRA

In [146]:
#ETC-GROUP BITCOIN
pd_ETC_GROUP_XETRA_BTC=tv.get_hist('BTCE','XETR',interval=Interval.in_daily,n_bars=100)
pd_ETC_GROUP_XETRA_BTC["averageprice"] = (pd_ETC_GROUP_XETRA_BTC["high"] + pd_ETC_GROUP_XETRA_BTC["open"] + pd_ETC_GROUP_XETRA_BTC["close"] + pd_ETC_GROUP_XETRA_BTC["low"]) /4
pd_ETC_GROUP_XETRA_BTC["turnover"] = (pd_ETC_GROUP_XETRA_BTC["averageprice"] * pd_ETC_GROUP_XETRA_BTC["volume"])*EURUSD_Mean
pd_ETC_GROUP_XETRA_BTC["turnover"].astype(int)

datetime
2022-01-04 09:00:00    12069553
2022-01-05 09:00:00    24160695
2022-01-06 09:00:00    43155729
2022-01-07 09:00:00    48110683
2022-01-10 09:00:00    38151694
                         ...
2022-05-19 09:00:00    10100519
2022-05-20 09:00:00     3538351
2022-05-23 09:00:00     5190814
2022-05-24 09:00:00     8888854
2022-05-25 09:00:00     2592792
Name: turnover, Length: 100, dtype: int64

In [147]:
#ETC-GROUP ETHEREUM
pd_ETC_GROUP_XETRA_ETH=tv.get_hist('ZETH','XETR',interval=Interval.in_daily,n_bars=100)
pd_ETC_GROUP_XETRA_ETH["averageprice"] = (pd_ETC_GROUP_XETRA_ETH["high"] + pd_ETC_GROUP_XETRA_ETH["open"] + pd_ETC_GROUP_XETRA_ETH["close"] + pd_ETC_GROUP_XETRA_ETH["low"]) /4
pd_ETC_GROUP_XETRA_ETH["turnover"] = (pd_ETC_GROUP_XETRA_ETH["averageprice"] * pd_ETC_GROUP_XETRA_ETH["volume"])*EURUSD_Mean
pd_ETC_GROUP_XETRA_ETH["turnover"].astype(int)

datetime
2022-01-04 09:00:00     3045124
2022-01-05 09:00:00     5992850
2022-01-06 09:00:00    25689294
2022-01-07 09:00:00     9470349
2022-01-10 09:00:00    29286123
                         ...
2022-05-19 09:00:00     1848551
2022-05-20 09:00:00      911003
2022-05-23 09:00:00     1068291
2022-05-24 09:00:00     1515148
2022-05-25 09:00:00      265224
Name: turnover, Length: 100, dtype: int64

In [148]:
#ETC-GROUP SOLANA
pd_ETC_GROUP_XETRA_SOL=tv.get_hist('ESOL','XETR',interval=Interval.in_daily,n_bars=100)
pd_ETC_GROUP_XETRA_SOL["averageprice"] = (pd_ETC_GROUP_XETRA_SOL["high"] + pd_ETC_GROUP_XETRA_SOL["open"] + pd_ETC_GROUP_XETRA_SOL["close"] + pd_ETC_GROUP_XETRA_SOL["low"]) /4
pd_ETC_GROUP_XETRA_SOL["turnover"] = (pd_ETC_GROUP_XETRA_SOL["averageprice"] * pd_ETC_GROUP_XETRA_SOL["volume"])*EURUSD_Mean
pd_ETC_GROUP_XETRA_SOL["turnover"].astype(int)

datetime
2022-01-04 09:00:00        0
2022-01-05 09:00:00        0
2022-01-06 09:00:00     1454
2022-01-07 09:00:00    22414
2022-01-10 09:00:00     1137
                       ...
2022-05-19 09:00:00       48
2022-05-20 09:00:00        0
2022-05-23 09:00:00     2485
2022-05-24 09:00:00       30
2022-05-25 09:00:00       34
Name: turnover, Length: 100, dtype: int64

In [149]:
#ETC-GROUP CARDANO
pd_ETC_GROUP_XETRA_ADA=tv.get_hist('RDAN','XETR',interval=Interval.in_daily,n_bars=100)
pd_ETC_GROUP_XETRA_ADA["averageprice"] = (pd_ETC_GROUP_XETRA_ADA["high"] + pd_ETC_GROUP_XETRA_ADA["open"] + pd_ETC_GROUP_XETRA_ADA["close"] + pd_ETC_GROUP_XETRA_ADA["low"]) /4
pd_ETC_GROUP_XETRA_ADA["turnover"] = (pd_ETC_GROUP_XETRA_ADA["averageprice"] * pd_ETC_GROUP_XETRA_ADA["volume"])*EURUSD_Mean
pd_ETC_GROUP_XETRA_ADA["turnover"].astype(int)

datetime
2022-01-04 09:00:00     2268
2022-01-05 09:00:00    18455
2022-01-06 09:00:00     2967
2022-01-07 09:00:00     5654
2022-01-10 09:00:00     9163
                       ...
2022-05-19 09:00:00        0
2022-05-20 09:00:00      805
2022-05-23 09:00:00        0
2022-05-24 09:00:00        2
2022-05-25 09:00:00        0
Name: turnover, Length: 100, dtype: int64

In [150]:
#ETC-GROUP POLKADOT
pd_ETC_GROUP_XETRA_DOT=tv.get_hist('PLKA','XETR',interval=Interval.in_daily,n_bars=100)
pd_ETC_GROUP_XETRA_DOT["averageprice"] = (pd_ETC_GROUP_XETRA_DOT["high"] + pd_ETC_GROUP_XETRA_DOT["open"] + pd_ETC_GROUP_XETRA_DOT["close"] + pd_ETC_GROUP_XETRA_DOT["low"]) /4
pd_ETC_GROUP_XETRA_DOT["turnover"] = (pd_ETC_GROUP_XETRA_DOT["averageprice"] * pd_ETC_GROUP_XETRA_DOT["volume"])*EURUSD_Mean
pd_ETC_GROUP_XETRA_DOT["turnover"].astype(int)

datetime
2022-01-04 09:00:00       0
2022-01-05 09:00:00       0
2022-01-06 09:00:00       0
2022-01-07 09:00:00       0
2022-01-10 09:00:00       0
                       ...
2022-05-19 09:00:00       0
2022-05-20 09:00:00       0
2022-05-23 09:00:00    5715
2022-05-24 09:00:00     115
2022-05-25 09:00:00       0
Name: turnover, Length: 100, dtype: int64

Organizing Data

In [186]:
#BTC Products

BTC_products = [pd_BTC_XBT, pd_BTC_ZERO_SEK, pd_BTCE_XBT, pd_21SHARES_SIX_BTC, pd_21SHARES_XETRA_BTC, pd_ETC_GROUP_XETRA_BTC]
BTC_products_concated = pd.concat(BTC_products)
BTC_products_concated

,symbol,open,high,low,close,volume,averageprice,turnover
datetime,,,,,,,,
2022-01-03 09:00:00,OMXSTO:BITCOIN_XBT,2045.000000,2067.100100,2018.689900,2023.000000,20928.0,2038.447500,4.485218e+06
2022-01-04 09:00:00,OMXSTO:BITCOIN_XBT,2023.000000,2068.470000,2012.530000,2029.510000,20632.0,2033.377500,4.410782e+06
2022-01-05 09:00:00,OMXSTO:BITCOIN_XBT,2028.500000,2038.000000,1995.540000,2001.000000,10651.0,2015.760000,2.257280e+06
2022-01-07 09:00:00,OMXSTO:BITCOIN_XBT,1822.610000,1860.000000,1765.000000,1787.380000,85041.0,1808.747500,1.617196e+07
2022-01-10 09:00:00,OMXSTO:BITCOIN_XBT,1812.430100,1828.460000,1720.000000,1811.360000,66902.0,1793.062525,1.261220e+07
...,...,...,...,...,...,...,...,...
2022-05-19 09:00:00,XETR:BTCE,26.812000,27.652000,26.378000,27.652000,338323.0,27.123500,1.010052e+07
2022-05-20 09:00:00,XETR:BTCE,27.254000,27.690001,26.556000,26.662001,118883.0,27.040501,3.538351e+06
2022-05-23 09:00:00,XETR:BTCE,27.615999,27.778000,27.002001,27.334000,171911.0,27.432500,5.190814e+06
2022-05-24 09:00:00,XETR:BTCE,26.330000,26.406000,25.632000,25.997999,309514.0,26.091500,8.888854e+06
2022-05-25 09:00:00,XETR:BTCE,26.678000,26.910000,26.442000,26.522000,88430.0,26.638000,2.592792e+06

In [196]:
#ETH Products

ETH_products = [pd_ETH_XBT, pd_ETH_ZERO_SEK, pd_ETHE_XBT, pd_ETC_GROUP_XETRA_ETH, pd_21SHARES_SIX_ETH, pd_21SHARES_XETRA_ETH]
ETH_products_concated = pd.concat(ETH_products)
ETH_products_concated

,symbol,open,high,low,close,volume,averageprice,turnover
datetime,,,,,,,,
2022-01-03 09:00:00,OMXSTO:ETHEREUM_XBT,335.120000,341.959990,332.049990,332.280000,135622.0,335.352495,4.781762e+06
2022-01-04 09:00:00,OMXSTO:ETHEREUM_XBT,332.870000,345.140010,332.870000,340.010010,160339.0,337.722505,5.693187e+06
2022-01-05 09:00:00,OMXSTO:ETHEREUM_XBT,340.010010,340.010010,333.030000,333.060000,55108.0,336.527505,1.949806e+06
2022-01-07 09:00:00,OMXSTO:ETHEREUM_XBT,284.489990,292.019990,270.420010,274.899990,939228.0,280.457495,2.769455e+07
2022-01-10 09:00:00,OMXSTO:ETHEREUM_XBT,276.040010,278.690000,258.000000,270.880000,542309.0,270.902502,1.544600e+07
...,...,...,...,...,...,...,...,...
2022-05-19 09:00:00,XETR:ETHA,20.889999,21.299999,20.354000,21.299999,29968.0,20.960999,6.914108e+05
2022-05-20 09:00:00,XETR:ETHA,21.132000,21.742001,20.684000,20.728001,47456.0,21.071500,1.100660e+06
2022-05-23 09:00:00,XETR:ETHA,21.587999,21.827999,21.290001,21.594000,90977.0,21.575000,2.160473e+06
2022-05-24 09:00:00,XETR:ETHA,20.610001,20.624001,19.851999,20.115999,61716.0,20.300500,1.379021e+06
2022-05-25 09:00:00,XETR:ETHA,20.612000,20.660000,20.248000,20.248000,2599.0,20.442000,5.847848e+04

In [215]:
#ADA Products

ADA_products = [pd_VALOUR_CARDANO_SEK, pd_21SHARES_SIX_ADA, pd_21SHARES_XETRA_ADA, pd_ETC_GROUP_XETRA_ADA]
ADA_products_concated = pd.concat(ADA_products)
ADA_products_concated

,symbol,open,high,low,close,volume,averageprice,turnover
datetime,,,,,,,,
2022-01-03 09:00:00,NGM:VALOUR.CARDANO.SEK,12.2000,13.0000,11.9100,11.9200,725957.0,12.25750,9.355545e+05
2022-01-04 09:00:00,NGM:VALOUR.CARDANO.SEK,11.9800,12.1700,11.8200,11.9700,362670.0,11.98500,4.569892e+05
2022-01-05 09:00:00,NGM:VALOUR.CARDANO.SEK,11.9700,12.1400,11.8100,11.8100,187645.0,11.93250,2.354099e+05
2022-01-07 09:00:00,NGM:VALOUR.CARDANO.SEK,10.9100,11.2700,10.6800,10.9200,1424156.0,10.94500,1.638814e+06
2022-01-10 09:00:00,NGM:VALOUR.CARDANO.SEK,10.5300,10.5500,9.6000,10.1300,1722135.0,10.20250,1.847269e+06
...,...,...,...,...,...,...,...,...
2022-05-19 09:00:00,XETR:RDAN,2.4654,2.5452,2.4006,2.5452,0.0,2.48910,0.000000e+00
2022-05-20 09:00:00,XETR:RDAN,2.4442,2.5316,2.3938,2.3938,300.0,2.44085,8.059884e+02
2022-05-23 09:00:00,XETR:RDAN,2.5484,2.5612,2.5484,2.5530,0.0,2.55275,0.000000e+00
2022-05-24 09:00:00,XETR:RDAN,2.3876,2.4046,2.3360,2.3360,1.0,2.36605,2.604296e+00
2022-05-25 09:00:00,XETR:RDAN,2.4042,2.4042,2.3772,2.3772,0.0,2.39070,0.000000e+00

In [217]:
#SOL Products

SOL_products = [pd_VALOUR_SOLANA_SEK, pd_21SHARES_SIX_SOL, pd_21SHARES_XETRA_SOL, pd_ETC_GROUP_XETRA_SOL]
SOL_products_concated = pd.concat(SOL_products)
SOL_products_concated

,symbol,open,high,low,close,volume,averageprice,turnover
datetime,,,,,,,,
2022-01-03 09:00:00,NGM:VALOUR.SOLANA.SEK,15.6900,16.0100,15.3500,15.4000,1022419.0,15.612500,1.678254e+06
2022-01-04 09:00:00,NGM:VALOUR.SOLANA.SEK,15.3700,15.7900,15.1000,15.5000,528003.0,15.440000,8.571167e+05
2022-01-05 09:00:00,NGM:VALOUR.SOLANA.SEK,15.4100,15.5000,15.1100,15.1100,236090.0,15.282500,3.793397e+05
2022-01-07 09:00:00,NGM:VALOUR.SOLANA.SEK,12.6400,13.0000,12.1000,12.5300,2805710.0,12.567500,3.707217e+06
2022-01-10 09:00:00,NGM:VALOUR.SOLANA.SEK,12.8100,12.9600,11.7100,12.2900,1714225.0,12.442500,2.242496e+06
...,...,...,...,...,...,...,...,...
2022-05-19 09:00:00,XETR:ESOL,4.8910,5.0020,4.5802,5.0020,9.0,4.868800,4.823151e+01
2022-05-20 09:00:00,XETR:ESOL,4.7654,4.9702,4.6722,4.6722,0.0,4.770000,0.000000e+00
2022-05-23 09:00:00,XETR:ESOL,4.9466,5.0625,4.8980,4.9898,454.0,4.974225,2.485694e+03
2022-05-24 09:00:00,XETR:ESOL,4.6154,4.6154,4.5174,4.5174,6.0,4.566400,3.015724e+01
2022-05-25 09:00:00,XETR:ESOL,4.5356,4.5356,4.4842,4.4842,7.0,4.509900,3.474813e+01

In [221]:
#DOT Products

DOT_products = [pd_VALOUR_POLKADOT_SEK, pd_21SHARES_SIX_DOT, pd_21SHARES_XETRA_DOT, pd_ETC_GROUP_XETRA_DOT]
DOT_products_concated = pd.concat(DOT_products)
DOT_products_concated

,symbol,open,high,low,close,volume,averageprice,turnover
datetime,,,,,,,,
2022-01-03 09:00:00,NGM:VALOUR.POLKADOT.SEK,26.000000,27.740000,25.709999,26.350000,517544.0,26.450000,1.439227e+06
2022-01-04 09:00:00,NGM:VALOUR.POLKADOT.SEK,27.000000,27.299999,26.350000,26.900000,232198.0,26.887500,6.563949e+05
2022-01-05 09:00:00,NGM:VALOUR.POLKADOT.SEK,26.900000,27.250000,26.420000,26.650000,55604.0,26.805000,1.567033e+05
2022-01-07 09:00:00,NGM:VALOUR.POLKADOT.SEK,22.559999,23.549999,22.150000,22.850000,518834.0,22.777500,1.242484e+06
2022-01-10 09:00:00,NGM:VALOUR.POLKADOT.SEK,22.459999,22.780001,20.139999,21.469999,480055.0,21.712499,1.095865e+06
...,...,...,...,...,...,...,...,...
2022-05-19 09:00:00,XETR:PLKA,2.325000,2.410800,2.251200,2.410800,0.0,2.349450,0.000000e+00
2022-05-20 09:00:00,XETR:PLKA,2.277600,2.360600,2.256400,2.256400,0.0,2.287750,0.000000e+00
2022-05-23 09:00:00,XETR:PLKA,2.392600,2.458000,2.392600,2.454200,2142.0,2.424350,5.715855e+03
2022-05-24 09:00:00,XETR:PLKA,2.289600,2.289600,2.257600,2.262800,46.0,2.274900,1.151825e+02
2022-05-25 09:00:00,XETR:PLKA,2.312600,2.324400,2.312600,2.324400,0.0,2.318500,0.000000e+00

PIVOTS

In [213]:
#BTC pivot table
pivot_BTC = (
    BTC_products_concated.pivot_table(index=['datetime'],
                   columns='symbol',
                   values='turnover',
                   aggfunc='first')
        .rename_axis(columns=None)
        .reset_index()
)
pivot_BTC.fillna(0)

,datetime,NGM:BTC.ZERO.SEK,OMXSTO:BITCOIN_XBT,OMXSTO:BITCOIN_XBTE,SIX:ABTC.USD,XETR:2BTC,XETR:BTCE
0,2022-01-03 09:00:00,6.574587e+05,4.485218e+06,2.296853e+06,0.000000e+00,0.000000e+00,0.000000e+00
1,2022-01-04 09:00:00,4.767009e+05,4.410782e+06,2.781277e+06,4.052900e+05,1.752232e+06,1.206955e+07
2,2022-01-05 09:00:00,1.821440e+05,2.257280e+06,1.261634e+06,2.543254e+06,2.746312e+06,2.416070e+07
3,2022-01-06 09:00:00,0.000000e+00,0.000000e+00,0.000000e+00,3.316932e+06,3.261938e+06,4.315573e+07
4,2022-01-07 09:00:00,2.064700e+06,1.617196e+07,1.058967e+07,3.598702e+06,3.501447e+06,4.811068e+07
...,...,...,...,...,...,...,...
96,2022-05-19 09:00:00,9.190571e+05,2.161126e+06,8.237239e+05,3.057071e+06,2.000248e+06,1.010052e+07
97,2022-05-20 09:00:00,3.241868e+05,1.931376e+06,7.969666e+05,6.777958e+05,7.993284e+05,3.538351e+06
98,2022-05-23 09:00:00,2.804020e+05,1.932458e+06,3.041820e+06,4.377318e+05,2.536518e+06,5.190814e+06
99,2022-05-24 09:00:00,1.763081e+05,1.721087e+06,2.975911e+06,2.205317e+05,1.095878e+06,8.888854e+06
100,2022-05-25 09:00:00,3.842600e+04,1.482454e+06,3.210380e+06,5.622665e+04,9.413555e+04,2.592792e+06

In [214]:
#ETH pivot table
pivot_ETH = (
    ETH_products_concated.pivot_table(index=['datetime'],
                   columns='symbol',
                   values='turnover',
                   aggfunc='first')
        .rename_axis(columns=None)
        .reset_index()
)
pivot_ETH.fillna(0)

,datetime,NGM:ETH.ZERO.SEK,OMXSTO:ETHEREUM_XBT,OMXSTO:ETHEREUM_XBTE,SIX:AETH.USD,XETR:ETHA,XETR:ZETH
0,2022-01-03 09:00:00,7.298189e+05,4.781762e+06,4.757085e+06,0.000000e+00,0.000000e+00,0.000000e+00
1,2022-01-04 09:00:00,5.017331e+05,5.693187e+06,3.769430e+06,1.714390e+06,1.149351e+06,3.045125e+06
2,2022-01-05 09:00:00,2.329062e+05,1.949806e+06,1.656606e+06,4.894594e+05,7.877065e+05,5.992850e+06
3,2022-01-06 09:00:00,0.000000e+00,0.000000e+00,0.000000e+00,1.486022e+07,6.338487e+06,2.568929e+07
4,2022-01-07 09:00:00,2.837479e+06,2.769455e+07,2.313177e+07,8.057740e+06,6.395215e+06,9.470349e+06
...,...,...,...,...,...,...,...
96,2022-05-19 09:00:00,8.242129e+05,4.627692e+06,3.060315e+06,6.282504e+05,6.914108e+05,1.848552e+06
97,2022-05-20 09:00:00,4.900433e+05,2.438139e+06,2.404667e+06,7.422766e+05,1.100660e+06,9.110032e+05
98,2022-05-23 09:00:00,1.438834e+05,2.278692e+06,4.733030e+06,1.688180e+06,2.160473e+06,1.068292e+06
99,2022-05-24 09:00:00,1.992813e+05,2.538316e+06,4.257946e+06,8.714731e+05,1.379021e+06,1.515149e+06
100,2022-05-25 09:00:00,1.412633e+05,1.351680e+06,1.427260e+06,2.162599e+05,5.847848e+04,2.652241e+05

In [216]:
#ADA pivot table
pivot_ADA = (
    ADA_products_concated.pivot_table(index=['datetime'],
                   columns='symbol',
                   values='turnover',
                   aggfunc='first')
        .rename_axis(columns=None)
        .reset_index()
)
pivot_ADA.fillna(0)

,datetime,NGM:VALOUR.CARDANO.SEK,SIX:AADA.USD,XETR:ADAA,XETR:RDAN
0,2022-01-03 09:00:00,9.355545e+05,0.000000,0.000000,0.000000
1,2022-01-04 09:00:00,4.569892e+05,137286.534945,233782.162532,2268.598303
2,2022-01-05 09:00:00,2.354099e+05,278016.752585,98680.478918,18455.970195
3,2022-01-06 09:00:00,0.000000e+00,444536.673264,245319.034185,2967.332359
4,2022-01-07 09:00:00,1.638814e+06,452353.387500,125197.883361,5654.123235
...,...,...,...,...,...
96,2022-05-19 09:00:00,2.057855e+05,50530.095000,157315.852388,0.000000
97,2022-05-20 09:00:00,3.089413e+05,10937.850000,41421.991690,805.988392
98,2022-05-23 09:00:00,2.226040e+05,49410.207000,49629.451105,0.000000
99,2022-05-24 09:00:00,2.083422e+05,70425.212500,78799.101430,2.604296
100,2022-05-25 09:00:00,2.375131e+04,13567.492000,46914.042608,0.000000

In [218]:
#SOL pivot table
pivot_SOL = (
    SOL_products_concated.pivot_table(index=['datetime'],
                   columns='symbol',
                   values='turnover',
                   aggfunc='first')
        .rename_axis(columns=None)
        .reset_index()
)
pivot_SOL.fillna(0)

,datetime,NGM:VALOUR.SOLANA.SEK,SIX:ASOL.USD,XETR:ASOL,XETR:ESOL
0,2022-01-03 09:00:00,1.678254e+06,0.000000e+00,0.000000,0.000000
1,2022-01-04 09:00:00,8.571167e+05,1.688297e+06,95930.118050,0.000000
2,2022-01-05 09:00:00,3.793397e+05,1.188582e+06,402915.960930,0.000000
3,2022-01-06 09:00:00,0.000000e+00,2.375089e+06,662196.157559,1454.979353
4,2022-01-07 09:00:00,3.707217e+06,1.692069e+06,619006.007783,22414.035762
...,...,...,...,...,...
96,2022-05-19 09:00:00,4.179475e+05,3.228490e+06,253050.172001,48.231513
97,2022-05-20 09:00:00,4.522874e+05,2.054606e+05,110431.783180,0.000000
98,2022-05-23 09:00:00,4.255970e+05,1.019764e+05,333385.065195,2485.694321
99,2022-05-24 09:00:00,3.441599e+05,6.407726e+04,159605.851338,30.157244
100,2022-05-25 09:00:00,8.607267e+04,2.104025e+04,6464.263443,34.748126

In [222]:
#DOT pivot table
pivot_DOT = (
    DOT_products_concated.pivot_table(index=['datetime'],
                   columns='symbol',
                   values='turnover',
                   aggfunc='first')
        .rename_axis(columns=None)
        .reset_index()
)
pivot_DOT.fillna(0)

,datetime,NGM:VALOUR.POLKADOT.SEK,SIX:ADOT.USD,XETR:ADOT,XETR:PLKA
0,2022-01-03 09:00:00,1.439227e+06,0.000000e+00,0.000000,0.000000
1,2022-01-04 09:00:00,6.563949e+05,7.971452e+05,316040.380151,0.000000
2,2022-01-05 09:00:00,1.567033e+05,5.659216e+05,375863.837890,0.000000
3,2022-01-06 09:00:00,0.000000e+00,1.850739e+06,260797.678416,0.000000
4,2022-01-07 09:00:00,1.242484e+06,5.247207e+05,148777.458711,0.000000
...,...,...,...,...,...
96,2022-05-19 09:00:00,1.644472e+05,9.055970e+04,8869.248030,0.000000
97,2022-05-20 09:00:00,9.258829e+04,1.070830e+05,78681.550656,0.000000
98,2022-05-23 09:00:00,1.291186e+05,1.989180e+04,13546.383628,5715.855305
99,2022-05-24 09:00:00,6.611511e+04,2.517697e+04,40453.809932,115.182522
100,2022-05-25 09:00:00,4.571432e+03,4.369780e+03,1649.752588,0.000000

In [224]:
px.bar(pivot_BTC, x='datetime', y=['NGM:BTC.ZERO.SEK', 'OMXSTO:BITCOIN_XBT'])
px.bar(pivot_ETH, x='datetime', y=['NGM:ETH.ZERO.SEK', 'OMXSTO:ETHEREUM_XBT'])